.footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-variant);
    padding: 1.2rem 0;
    gap: 1rem 0;
}